### To print all natural numbers from 1 to n

In [1]:
n = int(input('Enter a number:'))
i = 1
while i<=n:
    print(i)
    i+=1

Enter a number:10
1
2
3
4
5
6
7
8
9
10

### To print natural numbers in reverse from n to 1

In [3]:
n = int(input('Enter a number:'))
while n>=1:
    print(n)
    n-=1

Enter a number:10
10
9
8
7
6
5
4
3
2
1

### To print all alphabets from a to z both capital and small letters

In [13]:
a = 65
while a<91:
    print(chr(a),end=' ')
    a+=1
b = 97
print('\n')
while b<123:
    print(chr(b),end=' ')
    b+=1

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

a b c d e f g h i j k l m n o p q r s t u v w x y z

### To print all even number between 1 to 100

In [14]:
i = 2
while i<=100:
    print(i,end=' ')
    i+=2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

### To print all odd number between 1 to 100

In [16]:
i = 1
while i<100:
    print(i,end=' ')
    i+=2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

### Sum of all natural numbers

In [22]:
sum = 0
i =1
n = int(input('Enter a number:'))
while i<=n:
    sum+=i
    i+=1
    
print('The sum is',sum)

Enter a number:10
The sum is 55

### Sum of all even numbers

In [35]:
n = int(input('Enter a number:'))
i = 1
sum = 0
while i<=n:
    if(i%2==0):    
        sum+=i
    i+=1

print('The sum of even numbers are:',sum)

Enter a number:12
The sum of even numbers are: 42

### Sum of all odd numbers

In [37]:
n = int(input('Enter a number:'))
i =1
sum = 0
while i<=n:
    if(i%2!=0):
        sum+=i
    i+=1
    
    
print('The sum of odd numbers are:',sum)

Enter a number:11
The sum of odd numbers are: 36

### To print multiplication table of any number

In [41]:
n = int(input('Enter a number'))
for i in range(1,11):
    print(n,'X',i,'=',n*i)

Enter a number11
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

In [43]:
n = int(input('Enter a number:'))
i = 1
while i<11:
    print(n,'x',i,'=',n*i)
    i+=1

Enter a number:11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

### Count number of digit in a number

In [45]:
n = input('Enter a number:')
count = 0
for i in n:
    if i.isdigit():
        count+=1

print('The count number of digit is',count)

Enter a number:manu123 lipare456
The count number of digit is 6

### To find first and last digit of numbers

In [55]:
n = input('Enter a number:')
l = []
for i in n:
    if i.isdigit():
        l.append(i)
        
print('The first and last digit number is',l[0],'and',l[-1])

Enter a number:123manu456
The first and last digit number is 1 and 6

### To find sum of first and last digit of numbers

In [54]:
n = input('Enter a number:')
l = []
for i in n:
    if i.isdigit():
        l.append(i)
m = int(l[0])+int(l[-1])
print('The sum of',n,'first and last digit is',m)

Enter a number:123manu456
The sum of 123manu456 first and last digit is 7

### To swap first and last digit of nuumber

In [58]:
n = input('Enter a number:')
l = []
for i in n:
    if i.isdigit():
        l.append(i)

temp = l[0]
l[0] = l[-1]
l[-1] = temp
print(''.join(l))

Enter a number:123manu4567
7234561

### To calculate sum of digit of number

In [63]:
n = input('Enter a number:')
sum = 0
for i in n:
    if i.isdigit():
        sum+=int(i)

        
print('The sum of digit of number is:',sum)

Enter a number:123manu4
The sum of digit of number is: 10

### Product of digit of a number

In [65]:
n = input('Enter a number:')
p = 1
for i in n:
    if i.isdigit():
        p = p * int(i)
        
print('The product of digit of number is:',p)

Enter a number:12manu2
The product of digit of number is: 4

### print number in reverse order

In [66]:
n = input('Enter a number:')
m =''
for i in n:
    if i.isdigit():
        m = i+m
        
print('The number',n,'in reverse order is',m)

Enter a number:1234567
The number 1234567 in reverse order is 7654321

In [77]:
n = input('Enter a number:')
m = list(reversed(n))
print(''.join(m))

Enter a number:123456789
987654321

### Number is palindrome or not

In [81]:
n = input('Enter a number:')
m = ''
for i in n:
    if i.isdigit():
        m = i+m


print(m)
if n == m:
    print('The number is Palindrome',n)
else:
    print('The number is not Palindrome',n)

Enter a number:121
121
The number is Palindrome 121

### string is palindrome or not

In [86]:
n = input('Enter a number:')
m = ''
for i in n:
    m = i+m

print(m)
if n == m:
    print('The string is Palindrome',n)
else:
    print('The string is not Palindrome',n)

Enter a number:nitin
nitin
The string is Palindrome nitin

### To find the frequency of each digit in a given number

In [98]:
n = input('Enter a number:')
print({i:n.count(i) for i in n})

Enter a number:mmmaaannuu
{'m': 3, 'a': 3, 'n': 2, 'u': 2}

In [97]:
n = input('Enter a number:')
print({i:n.count(i) for i in n})

Enter a number:112233
{'1': 2, '2': 2, '3': 2}

In [3]:
n = input('Enter a number:')
for i in n:
    print(i,n.count(i))

Enter a number:123123
1 2
2 2
3 2
1 2
2 2
3 2

### Enter a digit and print it in word

In [5]:
n = input('Enter a number:')
for i in n:
    if i.isdigit():
        if i == '1':
            print(i,'One')
        elif i == '2':
            print(i,'Two')
        elif i == '3':
            print(i,'Three')
        elif i == '4':
            print(i,'Four')
        elif i == '5':
            print(i,'Five')
        elif i == '6':
            print(i,'Six')
        elif i == '7':
            print(i,'Seven')                                            
        elif i == '8':
            print(i,'Eight')
        else:
            print(i,'Nine')

Enter a number:123789
1 One
2 Two
3 Three
7 Seven
8 Eight
9 Nine

### To find power of number

In [23]:
n = input('Enter a number:')
p = input('Enter a power')
mul =1
for i in p:
       mul = int(n)**int(i)

print('The power',p,'of number',n,'is',mul)

Enter a number:25
Enter a power2
The power 2 of number 25 is 625

In [24]:
n = input('Enter a number:')
p = input('Enter a power')
mul =1
for i in p:
       mul = int(n)**int(p)

print('The power',p,'of number',n,'is',mul)

Enter a number:25
Enter a power11
The power 11 of number 25 is 2384185791015625

### To calculate factorial of number

In [46]:
n = input('Enter a number:')
fact = 1
if int(n)>0:
    for i in range(1,int(n)+1):
        fact = fact*i

    print('The factorial of number is',fact)  
else:
    print('The factorial of zero is 1')

Enter a number:5
The factorial of number is 120

### To find number is prime or not

In [15]:
n = int(input('Enter a number:'))
if n>1:
    for i in range(2,int(n/2)+1):
        if (n % i) == 0:
            print(n,'is not a prime number')
            break
    else:
        print(n,'is a prime number')
else:
    print(n,'is not a prime number')

Enter a number:11
11 is a prime number

### Print all prime number between 1 to n

In [17]:
m = int(input('Enter a number:'))

for n in range(1,m+1):
    if n>1:
        for i in range(2,int(n/2)+1):
            if (n % i) == 0:
                print(n,'is not a prime number')
                break
        else:
            print(n,'is a prime number')
    else:
        print(n,'is not a prime number')

Enter a number:15
1 is not a prime number
2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number
11 is a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
15 is not a prime number

### Print sum of 1 to n prime numbers

In [18]:
m = int(input('Enter a number:'))
sum = 0
for n in range(1,m+1):
    if n>1:
        for i in range(2,int(n/2)+1):
            if (n % i) == 0:
                print(n,'is not a prime number')
                break
        else:
            print(n,'is a prime number')
            sum+=n
    else:
        print(n,'is not a prime number')
        
print('The sum of prime numbers are:',sum)

Enter a number:15
1 is not a prime number
2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number
11 is a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
15 is not a prime number
The sum of prime numbers are: 41

In [ ]:
123
1X3+2X3+3X3

### To find number is armstrong or not

In [27]:
n = input('Enter a number:')
p = len(n)
arm = 0
for i in n:
    arm = arm+(int(i)**int(p))
    
print(n)    
print(arm)
if int(n) == arm:
    print(n,'is a armstrong number')
else:
    print(n,'is not a armstrong number')

Enter a number:371
371
371
371 is a armstrong number

### To print all armstrong number between 1 to n

In [46]:
m = int(input('Enter a number:'))
for n in range(1,m+1):
    p = len(str(n))
    arm = 0
    for i in str(n):
        i = int(i)
        d = i%10
        arm = arm+(int(d)**int(p))
        i//=10

    if int(n) == arm:
        print(n,end=' ')

Enter a number:1000
1 2 3 4 5 6 7 8 9 153 370 371 407

In [47]:
m = int(input('Enter a number:'))
for n in range(1,m+1):
    p = len(str(n))
    arm = 0
    for i in str(n):
        arm = arm+(int(i)**int(p))
    
    if int(n) == arm:
        print(n,end=' ')

Enter a number:1000
1 2 3 4 5 6 7 8 9 153 370 371 407

### To print Fibonacci series up to n terms

In [11]:
n = int(input('Enter a number:'))
a = 0
b = 1
for i in range(n):
    if i==0 or i ==1:
        print(i)
        
    else:
        c = a+b
        print(c)
        a = b
        b = c

Enter a number:15
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

### Patterns

In [14]:
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [18]:
for i in range(1,6):
    print(str(i)*i)

1
22
333
4444
55555

In [20]:
a = 65
for i in range(1,6):
    print(chr(a)*i)
    a+=1

A
BB
CCC
DDDD
EEEEE

In [21]:
for i in range(1,6):
    a = 65
    print(chr(a)*i)
    a+=1

A
AA
AAA
AAAA
AAAAA

In [53]:
a = 65
for i in range(1,6):
    for j in range(i):
        print(chr(a+j),end='')
    print()

A
AB
ABC
ABCD
ABCDE

In [33]:
for i in range(5,0,-1):
    print('*'*i)

*****
****
***
**
*

In [55]:
a = 65
for i in range(1,6):
    for j in range(i):
        print(chr(a),end='')
        a+=1
    print()

A
BC
DEF
GHIJ
KLMNO